<configuration>
    <!-- the configurationSections should be the first child of cofiguration -->
    <configSections>
        <section name="EnvironmentConfiguration" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    <EnvironmentConfiguration>
       <add key="Environment" value="PROD"/>
    </EnvironmentConfiguration>
</configuration>
